<h2>Current Lines</h2>
    <br/>

    <table class="table table-bordered table-condensed table-striped" width="50%" style="text-align: center;">
    <thead>
      <tr>
        <th> Day </th>
        <th>Kickoff </th>
        <th>Home </th>
        <th>Visitor </th>
        <th>Selection</th>
        <th>Star Pick? </th>
        <th>Game Details</th>

      </tr>
    </thead>
    <tbody>
        <% @games.each do |game| %>
          <tr>
            
            <td><%= game.start_date %> </td>
            <td><%= game.kickoff %> </td>
            <td><%= game.home_team %></td>
            <td><%= game.visitor_team %> </td>
            <td><%= select_tag "selection", options_for_select([["#{game.home_team}"], ["#{game.visitor_team}"]]), :style => "width: 100px;", %></td>
            <td><%= check_box_tag "star_pick", :style => "float: right;" %></td>
           
           
            <td>
                <%= link_to 'Details', game, :class => "btn btn-primary btn-inverse" %> 

            <% if can? :update, game %>
                <%= link_to 'Edit', edit_game_path(game), :class => "btn " %>
            <% end %>
                
            </td>

        </tr>
        
        <% end %>  

    </tbody> 
    </table>

    <br />